@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
      @apply bg-[#06202A] text-gray-300
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.main {
  margin-bottom: 2rem;
}

span.left-100.fixed {
  left: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
